---
---

$text_width: 600px;
$padded_text_width: 660px;

.modal-dialog {
  width: $padded_text_width;
}

.modal_body {
  width: $text_width;

  img, iframe {
    width: $text_width;
    max-width: $text_width;
    margin: 14px 0;
  }
  
  code {
    font-size: 14px;
  }

  pre {
    padding: 5px;
  }
  
  .emoji {
    width: 24px;
    height: 24px;
  }
}

tr {
  td, th {
    padding: 6px;
    border: 1px solid black
  }
}

#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.85);
}

.row {
  .col-md-3 {
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
}

.fh5co-nav ul li a {
  color: rgba(255, 255, 255, 0.70);
  text-decoration: underline;
}

#fh5co-started .overlay {
  background: rgba(0, 0, 0, 0.45);
}